<!-- TODO #2 Add AppSettings -->
<appSettings>
  <!-- Security Roles -->
  <add key="startupRoles" value="Administrators;Director;RaceCoordinator;RaceInvestigator;MechanicSenior;Mechanic;TrackService;FoodService;Shop;Clerk;OfficeManager" />
  
  <!-- Website Administrator Credentials -->
  <add key="adminUserName" value="Webmaster" />
  <add key="adminEmail" value="Webmaster@erace.ca" />
  <add key="adminPassword" value="Pa$$w0rd" />
  <add key="adminRole" value="Administrators" />
  
  <!-- Employee Credentials -->
  <add key="employeeId1" value="24" />
  <add key="employeeUserName1" value="ANewland" />
  <add key="employeeEmail1" value="anewland@erace.ca" />
  <add key="employeePassword1" value="Pa$$w0rd" />
  <add key="employeeRole1" value="Director" />

  <!-- Race Coordinator -->
  <add key="employeeId2" value="5" />
  <add key="employeeUserName2" value="MThargg" />
  <add key="employeeEmail2" value="mthargg@erace.ca" />
  <add key="employeePassword2" value="Pa$$w0rd" />
  <add key="employeeRole2" value="RaceCoordinator" />

  <!-- Race Investigator -->
  <add key="employeeId3" value="6" />
  <add key="employeeUserName3" value="JTimber" />
  <add key="employeeEmail3" value="jtimber@erace.ca" />
  <add key="employeePassword3" value="Pa$$w0rd" />
  <add key="employeeRole3" value="RaceInvestigator" />

  <!-- Mechanic - Senior -->
  <add key="employeeId4" value="23" />
  <add key="employeeUserName4" value="MDhaktra" />
  <add key="employeeEmail4" value="mdhaktra@erace.ca" />
  <add key="employeePassword4" value="Pa$$w0rd" />
  <add key="employeeRole4" value="MechanicSenior" />

  <!-- Mechanic -->
  <add key="employeeId5" value="2" />
  <add key="employeeUserName5" value="KSmith" />
  <add key="employeeEmail5" value="ksmith@erace.ca" />
  <add key="employeePassword5" value="Pa$$w0rd" />
  <add key="employeeRole5" value="Mechanic" />

  <!-- Track Service -->
  <add key="employeeId6" value="11" />
  <add key="employeeUserName6" value="JMeeks" />
  <add key="employeeEmail6" value="jmeeks@erace.ca" />
  <add key="employeePassword6" value="Pa$$w0rd" />
  <add key="employeeRole6" value="TrackService" />

  <!-- Food Service -->
  <add key="employeeId7" value="1" />
  <add key="employeeUserName7" value="MKreeg" />
  <add key="employeeEmail7" value="mkreeg@erace.ca" />
  <add key="employeePassword7" value="Pa$$w0rd" />
  <add key="employeeRole7" value="FoodService" />

  <!-- Shop -->
  <add key="employeeId8" value="7" />
  <add key="employeeUserName8" value="KHush" />
  <add key="employeeEmail8" value="khush@erace.ca" />
  <add key="employeePassword8" value="Pa$$w0rd" />
  <add key="employeeRole8" value="Shop" />

  <!-- Clerk -->
  <add key="employeeId9" value="20" />
  <add key="employeeUserName9" value="JCalder" />
  <add key="employeeEmail9" value="jcalder@erace.ca" />
  <add key="employeePassword9" value="Pa$$w0rd" />
  <add key="employeeRole9" value="Clerk" />

  <!-- Office Manager -->
  <add key="employeeId10" value="12" />
  <add key="employeeUserName10" value="KYates" />
  <add key="employeeEmail10" value="kyates@erace.ca" />
  <add key="employeePassword10" value="Pa$$w0rd" />
  <add key="employeeRole10" value="OfficeManager" />
  
  <!-- Other User Defaults -->
  <add key="defaultRole" value="RegisteredUsers" />
  <add key="newUserPassword" value="Pa$$w0rd" />
</appSettings>